<h1>hello from contacts/<%= @contact['first'] %></h1>
<p><%= @contact['phone'] %></p>
<<<<<<< HEAD

<a href="/contacts/<%= @contact['id'] %>/edit">Edit Contact</a>

<form action="/contacts/<%= @contact['id'] %>/delete" method="post">
  <button>DELETE CONTACT</button>
</form>

=======
<a href="/contacts/<%= @contact['id'] %>/edit">Edit Contact</a>

<form action="/contacts/<%= @contact['id'] %>/delete" method="post">
  <button>Delete Contact</button>
</form>
>>>>>>> upstream/master
